@font-face { font-family: 'BMHANNAPro'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff'); font-weight: normal; font-style: normal; }


.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    width: 92px;
    height: 44px;
    margin: 23px 17px 9px 14px;
    font-family: AppleSDGothicNeo;
    font-size: 11px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #040404;
}

h1 {
    text-align : center;
    font-family: 'BMHANNAPro';
}

.calendar{
    width: 70vw;
    font-size: 1rem;
    margin : auto;
	background: #fff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2), 10px 10px 10px 10px #fff;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2), 10px 10px 10px 10px #fff;
	color: #555;
    text-align : center;
}

.month {
    font-size: 1rem;
}

.date {
    font-size: 1rem;
}

.calendar .month {
    color : #222222;
    font-weight: 800;
}

.calendar th {
    padding: 2vw;
    text-align: center;
    font-size: 1.5rem;
}

.calendar tr {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
    width: 1rem;
    height: 4.5em;
    padding: .25em .25em;
    transition: background .5s;
}


.calendar td:hover {
	background: #cacaca;
	color: #fff;
}

.event_line {
    height: 100%;
    padding: 0;
    list-style: none;
    margin : 0;
}

a {
    transition: color .2s;
}

span {
    color : black;
}
/* 
a:link { color: blue; text-decoration: none;}
a:visited { color: blue; text-decoration: none;}
a:hover { color: red; text-decoration: none;} */

.left {
    float : left;
    margin : 10px;
}
    
.right {
    float : right;
    margin : 10px;
}