{% extends "base_nav.html" %}

{% block css %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'signup_login.css' %}">
{% endblock %}
{% block content %}

<div class="top_container">
    <div class="task">
        <ul class="sub-container">
            {% for totd in totds %}
            <li>
                <a href="{% url 'detail_totd' totd.pk %}">{{totd.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mood">
        <ul class="sub-container">
            {% for motd in motds %}
            <li>
                <a href="{% url 'detail_motd' motd.pk %}">{{motd.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="food">
        <ul class="sub-container">
            {% for fotd in fotds %}
            <li>
                <a href="{% url 'detail_fotd' fotd.pk %}">{{fotd.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="outfit">
        <ul class="sub-container">
            {% for ootd in ootds %}
            <li>
                <a href="{% url 'detail_ootd' ootd.pk %}">{{ootd.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>    
</div>

<div class="bottom_container">
    <div class="go">
        <a class="t" href="{% url 'new_totd' %}">t</a>
        <a class="m" href="{% url 'new_motd' %}">m</a>
        <a class="f" href="{% url 'new_fotd' %}">f</a>
        <a class="o" href="{% url 'new_ootd' %}">o</a>
    </div>
</div>

{% endblock %}