{% extends "base_nav.html" %}

{% block css %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'signup_login.css' %}">
<link rel="stylesheet" href="../static/base_totd.css"/>
{% endblock %}
{% block content %}


<div class="signup ">
    <form action="" method="post">
        {% csrf_token %}
        <div class="wrapper">
            <div class="header">
                <!-- X쳐서 뒤로 가는거  -->
                <span class="title">Task of Today</span>
            </div>
            
            <div class="middle">
                <div class="title">
                    <input type="text" name="title" value="{{totd.title}}" placeholder="New Task">
                </div>

                <div class="date">
                    <label for="day">Date</label>
                    <input type="date" id="due" name="day" value="{{totd.day|date:"Y-m-d"}}">
                </div>
            </div>

            <div class="todo">
                <textarea name="content" placeholder="할 일을 적어보세요." rows="30" cols="30">{{totd.content}}</textarea>
            </div>

            <button type="submit">Save</button>
        </div>
    </form>

    <div class="color">
        <label for="color_tag">Color</label>
        <div class="color_palette">
            <div class="theme_1" style="background-color: #FDFBC7;"></div>
            <div class="theme_2" style="background-color: #ECC5C7;"></div>
            <div class="theme_3" style="background-color: #E29EAF;"></div>
            <div class="theme_4" style="background-color: #A38FAB;"></div>
            <div class="theme_5" style="background-color: #918DAB;"></div>
            <div class="theme_6" style="background-color: #79849F;"></div>
        </div>

        <div class="colorBoard" style="width: 30px; height: 30px; display: none;"></div>
        <!-- <div></div> -->
        <button class="change">선택</button>
    </div>

    <script type="text/javascript">
    const colorbutton = document.querySelector(".change");
    const colorPalette = document.querySelector('.color_palette')

    let selectedColor= ''

    colorPalette.addEventListener('click',(event)=>{
        selectedColor = event.target.style.backgroundColor
    })

    colorbutton.addEventListener('click',()=>{
        localStorage.setItem("color",selectedColor)
    })
    // 여기서부터 다른 페이지
    const colorBoard = document.querySelector('.colorBoard')
    const savedColor = localStorage.getItem('color')
    colorBoard.style.backgroundColor = savedColor
    </script>
</div>

{% endblock %}